#Produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#Produtos div{
    margin: 10px;
}

#Contato{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(45deg, #FFEDE6,#E8D4D1 );
    padding: 100px;
}
#Contato form{
    width: 500px;
    color: white;
}
.form-text{
    color: white;
}

nav{
    z-index: 100;
    background: linear-gradient(45deg,#FFEDE6,#E8D4D1);
    position: fixed;
    top: 0;
}